extends layout

block content
  - articles = _.chain(contents.labs._.yaml).sortBy(function(item) {
  -   return -new Date(item.data.date)
  - }).groupBy(function(item) {
  -   return new Date(item.data.date).getFullYear()
  - }).value()

  section.lab
    each year in _.chain(articles).keys().reverse().value()
      section.year
        header
          h2(id=year)
            a(href='##{year}')= year
        ul
          each article in articles[year]
            li
              a(href=article.data.url)= article.data.title
              p!= typogr(article.data.description).typogrify()
